* {
font-family: verdana;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1F2937;
    min-height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    align-self: center;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 2px;
}

.hero {
    background-color: #1F2937;
    padding: 50px;
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.hero-title {
 font-size: 48px;
 color: #F9FAF8;
 font-weight: 900;  
}

.hero-subtitle {
 font-size: 18px;
 color: #E5E7EB;   
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
    width: 150px;
}

.info-blocks-section {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.info-blocks-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.testimonial-section {
    background-color: #E5E7EB;
    padding-left: 50px;
    padding-right: 50px;
}

.cta-section {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    font-size: 15px;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
}